body {
    font: arial, serif;
    background: #FFFFCC;
    margin: 0;
    padding: 0;
	width: 100%;

}

.tytul {
    float: left;
	width: 100%;
}

.autorzy {
    float: right;
}

.wpisy {
    width: 100%;
	text-align:center
}

.wpis {
    margin-top: 50px;
    margin-left: 100px;
	margin-right: 100px;
}

.logowanie {
    margin-top: 50px;
    margin-bottom: 50px;
}

textarea {
    resize: none;
}

.title{
    font-size: large;
}

.info{
    color: red;
}
