% include('start.html')
        %if msg:
            <p class="info">{{msg}}</p>
        %end
        <form action="/add_post" method="POST" class="add_entry">
            <div><label for="title">Tytuł</label>
            <input type="text" size="30" name="title" id="title"/></div>
            <div><p><label for="text">Treść</label></p>
            <textarea name="text" id="text" rows="5" cols="80"></textarea></div>
            <input type="submit" name="share" value="Dodaj"/>
    </form>
% include('stop.html')