% include('start.html')
<div class="logowanie">
        %if msg:
            <p class="info">
                {{ msg }}
            </p>
        %end
    <form action="/login" method="POST">
        <div>
            <label for="username">Użytkownik</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Hasło</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" name="login" value="Zaloguj się"/>
        </div>
    </form>
</div>
% include('stop.html')