% include('start.html')
<div class="logowanie">
    % if info:
        <p class="info">
        {{ info }}
        </p>
    % end
    % if logged == 1:
        <p><a href="/logout">Wyloguj się</a></p>
        <p><a href="/add_post">Dodaj wpis</a></p>
    % else:
        <p><a href="/login">Zaloguj się</a></p>
    % end
</div>
<h2>Aktualne wpisy: </h2>
<div class="wpisy">
    % if len(wpisy) > 0:
        %for wpis in wpisy:
        <div class="wpis">
            <p class="title"><b>{{ wpis['title'] }}</b></p>
            <p class="text">{{ wpis['text'] }}</p>
            % if logged == 1:
                <a href="/delete/{{ wpis['id'] }}">Usuń wpis</a>
            % end
        </div>
        %end
    % else:
        <h3>Brak wpisów</h3>
    % end
</div>
% include('stop.html')