<!DOCTYPE html>
<html>
    <head>
        <title>Książki o Pythonie</title>
    </head>
    <body>
        <h1>Lista książek do poduszki</h1>
        <p>Oto lista książek, która może cię zaciekawić.
           Kliknij na tytuł, żeby dowiedzieć się więcej na temat danej książki.</p>
           <ul>
               {% for tytul in ksiazki %}
                    <li><a href="book/{{ tytul['id'] }}">{{ tytul['title'] }}</a></li>
               {% endfor %}
           </ul>
    </body>
</html>