<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p><b>Tytuł: </b>{{ ksiazka['title'] }}</p>
        <p><b>ISBN: </b>{{ ksiazka['isbn'] }}</p>
        <p><b>Wydawca: </b>{{ ksiazka['publisher'] }}</p>
        <p><b>Autor: </b>{{ ksiazka['author'] }}</p>
    </body>
</html>